body {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --color-principal: rgb(158, 130, 38);
}

/*   NAV BAR   */

.header {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  /* height: 100px; */
}

.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
  /* border: 1px solid black; */
  position: absolute;
  width: 100vw;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav_img {
  width: 8.5rem;
  position: relative;
  cursor: pointer;
}

.nav_link {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.nav_links {
  text-decoration: none;
  color: black;
  font-weight: 400;
  opacity: 80%;
  transition: all ease-in-out 200ms;
}

.nav_links:hover {
  cursor: pointer;
  opacity: 100%;
  font-weight: 900;
}

/*   HERO SECTION   */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #00000052 50%, #00000052 50%),
    url(../images/actividades.jpg);
  background-size: cover;
  z-index: -10;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 200px;
  margin-bottom: 20px;
}

.hero_divider {
  width: 700px;
  margin-bottom: 20px;
}

.hero_subtitle {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.button {
  margin-top: 200px;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.button:hover {
  transform: rotate(360deg);
}

/*   DESCRIPTION SECTION   */

.description {
  margin-top: 3rem;
  min-height: 100px;
}

.flora {
  background-color: black;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100px;
  width: 800px;
  margin-bottom: 4rem;
}

.subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: start;
  margin-bottom: 1.5rem;
}

.description_text {
  text-align: justify;
  margin-bottom: 1rem;
}

.btn {
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-transform: uppercase;
  display: flex;
  align-self: flex-start;
  justify-self: center;
  transition: all ease-in-out 300ms;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  /* border-radius: 3px; */
  color: white;
}

.description_item {
  line-height: 25px;
  text-align: justify;
}

.img_actividades {
  width: 1200px;
  opacity: 80%;
  margin-bottom: 4rem;
  transition: all ease-in-out 300ms;
}

.img_actividades:hover {
  opacity: 100%;
}

/*   DESCRIPTION ACTIVITIES   */

.activity {
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: center;
  gap: 2rem;
  margin: 8rem 0;
  opacity: 80%;
  transition: all ease-in-out 500ms;
}

.activity_photo_acampe {
  width: auto;
  height: 300px;
  background-image: url(../images/Acampar.JPG);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}

.activity_photo_pesca {
  width: auto;
  height: 300px;
  background-image: url(../images/pesca.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}

.activity_photo_noche {
  width: auto;
  height: 300px;
  background-image: url(../images/noche.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}

.activity_photo_bicicleta {
  width: auto;
  height: 300px;
  background-image: url(../images/bicicleta.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}

.activity:hover {
  transform: scale(1.1);
  opacity: 100%;
}

.footer_banner {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000002d 0%, #0000002d 0%),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -10;
}

/*   FOOTER  SECTION   */

.footer.container {
  margin-top: 1rem;
}

.footer_section {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  width: 800px;
  padding: 5rem;
  column-gap: 2rem;
}

.footer_title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

span {
  font-weight: 700;
  font-size: 1rem;
}

.footer_section > p {
  font-size: 0.9rem;
}

.footer_paragraph {
  margin-bottom: 10px;
}

.footer_redes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon_container {
  display: flex;
  justify-content: space-between;
}

.footer_icon {
  padding-left: 1rem;
}
